@use '../../mixins' as *;

.inProgress{
    height: 100svh;
    display: grid;
    grid-template-rows: 10% 90%;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;

        .back{
            align-content: center;
            text-align: center;
            button{
                border: none;
                background: transparent;
            }
            img{
                height: 30px;
                width: 30px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .body{
        display: grid;
        grid-template-rows: 15% 30% 25% 15% 15%;

        .name, .image, .rep, a{
            align-content: center;
            text-align: center;
        }
        .name{
            font-size: 30px;
        }
        .rep{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            .reps{
                font-size: 100px;
            }
        }
        .done, .rest{
            @include button;
            height: 50%;
            width: 80%;
            margin: auto;
        }

    }
}