@use '../../mixins' as *;

.inProgress{
    height: 100svh;
    display: grid;
    grid-template-rows: 10% 90%;

    .header{
        padding: 0 10px;

        .back{
            align-content: center;
            text-align: center;
            button{
                border: none;
                background: transparent;
            }
            img{
                height: 30px;
                width: 30px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .body{
        display: grid;
        grid-template-rows: 15% 30% 25% 15% 15%;

        .name, .image, .rep, a{
            align-content: center;
            text-align: center;
        }
        .name{
            font-size: 30px;
        }
        .image{
            border-bottom: 1px solid black;
            padding-bottom: 20px;
        }
        .rep{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            .reps{
                font-size: 100px;
            }
        }
        .userLink{
            width: 100%;
            text-align: center;
            padding: 10px 0 20px 0;
            margin-top: 10px;
            display: grid;
            gap: 10px;
            .rest{
                @include button;
            }
            .done{
                @include skipNext;
                text-decoration: none;
            }
        }

    }
}