@use '../../mixins' as *;

.rest{
    border: 1px solid red;
    height: 100svh;
    display: grid;
    grid-template-rows: 10% 80% 10%;

    .header, .clock, .restButtons{
        border: 1px solid green;
        align-content: center;
        text-align: center;
    }
    .restCountdown{
        font-size: 100px;
    }
    .restButtons{
        display: flex;
        align-items: center;
        justify-content: space-around;

        button, div{
            @include button;
        }
    }
}