.results{
    border: 1px solid red;
    height: 100svh;
    display: grid;
    grid-template-rows: 10% 80% 10%;

    header{
        align-content: center;
    }

    .progressList{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        li{
            height: 30px;
            border: 1px solid black;
            border-radius: 10px;
            padding: 0 20px;
            align-content: center;
        }
    }

    .frequencyGraph{
        border: 1px solid red;
        align-content: center;
    }
    .chart{
        border: 1px solid blue;
        align-content: center;
    }
}