@use '../mixins' as *;


.navigation{
    .navigationList{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 50px;
        li{
            width: 33%;
            border: 1px solid white;
            height: 100%;
            align-content: center; 
            text-align: center;
            &:hover{
            border-radius: 15px;
                background-color: #f7abab;
                border-radius:initial;
                width: 35%;
            }
        }
        a{
            color: #d62828;
            text-decoration: none;
            display: block;
            line-height: .1;
            img{
                position: relative;
                top: 6px;
            }
        }
    }
    
}
