@use '../../mixins' as *;

.obDetails{
    height: 100vh;
    display: grid;
    grid-template-rows: 50% 50%;
}
.image{
    img{
        height: 100%;
        width: 100%;
    }
}
.body{
    display: grid;
    grid-template-rows: 40% 40% 20%;
    .main, .sub{
        text-align: center;
    }
}
.main{
    @include h2;
}
.heading{
    @include p;
}
.skipNext{
    @include skipNext;
}