@use '../../mixins' as *;

.onBoard{
    height: 100svh;
    display: grid;
    grid-template-rows: 60% 40%;
}
.image{
    img{
        height: 100%;
        width: 100%;
    }
}
.body{
    display: grid;
    grid-template-rows: 50% 40% 10%;
}
.main{
    @include h2;
}
.heading{
    @include p;

}
.skipNext{
    @include skipNext;
}