@mixin h2{
    line-height: .1;
    font-size: 40px;
}
@mixin pageh2{
    font-size: 30px;
}

@mixin p{
    font-size: 20px;
}
@mixin skipNext{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;

    .skip{
        text-decoration: none;
        color: grey;
    }
    .next{
        @include primaryColor;
        text-decoration: none;
    }
}
@mixin button{
    background-color: #d62828;
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px black;
    text-decoration: none;
    margin: auto;
    text-align: center;
    font-size: 24px;
    &:hover{
        box-shadow: inset 1px 1px 10px black;
    }
}
@mixin header{
    color: #f90101;
    font-size: 30px;
    align-content: center;
    padding: 0 20px;
}
@mixin exerciseNav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 5px;
    gap: 10px;
    a{
        width: 100px;
        padding: 0 10px;
        border-radius: 15px;
        color: black;
        text-decoration: none;
        font-size: 18px;
        color: white;

    }
}
//
@mixin next{
    color: #f90101;
}
@mixin primaryColor{
    color: #f90101;
}
@mixin list{
    border: 1px solid red;
    &:hover{
        opacity: .6;
    }
}
@mixin list2{
    width: 100%;
    height: 45px;
    border-radius: 15px;
    background: rgba(249,1,1, .6);
    box-shadow: inset 1px 1px 10px white;
    &:hover{
        cursor: pointer;
    box-shadow: inset 1px 1px 10px black;
    }
}
@mixin list2{
    width: 100%;
    height: 45px;
    border-radius: 15px;
    background: rgba(249,1,1, .6);
    box-shadow: inset 1px 1px 10px white;
    &:hover{
        cursor: pointer;
    box-shadow: inset 1px 1px 10px black;
    }
}
@mixin tabs{
    background-color: #d62828;
    align-content: center;
    overflow: hidden;
    width: 100%;
    margin: auto;
    .tabsList{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            width: 33%;
            border: 1px solid white;
            height: 100%;
            padding: 5px 0;
            align-content: center;
            text-align: center;
            &:hover{
                background-color: #f90101;
                border-radius:initial;
            }
        }
        a{
            color: white;
            text-decoration: none;
            &:hover{
                background-color: #f90101;
                border-radius:initial;
            }
        }
    }
}