@use '../../mixins' as *;

.hr{
    width: 80%;
}
.home{
    display: grid;
    height: 100svh;
    .header{
        @include header;
    }

    .body{
        overflow-x: scroll;
        .userData{
            background-image: url('../../../../public/meter.png');
            background-size: 50% 90%;
            background-repeat:no-repeat;
            background-position-y: 20px;
            background-position-x: -5px;;
            height: 600px;
            text-align: center;
            align-content: center;

            display: grid;
            grid-template-rows: 50% 50%;
            direction: rtl;


            .caption{
                width: 50%;
                align-content: center;
                @include pageh2;
                .red{
                    color: #f90101;
                }
            }
            .id{
                height: 80%;
                width: 50%;
                border: 2px solid black;
                border-radius: 10px;
                margin-bottom: 10px;
                position: relative;
                top: 15px;
                .idList{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li{
                        align-content: center;
                        height: 80px;
                        margin-bottom: 5px;
                        direction: rtl;
                        .userAge, .userWeight, .userHeight{
                            color: #f90101;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
        .userStats{
            border: 1px solid lightgrey;

            .days{
                align-content: center;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

            }
            .numbers{
                display: flex;
                justify-content: space-evenly;
  gap: 2px;
  background: white;
                .number{
                    width: 25%;
                    align-content: center;
                }
            }
        }
        .userStats{
            height: 200px;
            align-content: center;
            text-align: center;
            margin-bottom: 10px;
        } 
        .userLink{
                width: 100%;
                text-align: center;
                padding: 10px 0 20px 0;
                margin-top: 10px;
            a{
                @include button;
                justify-content: center;
            }
        }
    }
}