@use '../../mixins' as *;

.start{
    border: 1px solid red;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 70% 10% 10%;


    h1{
        @include header;
    }

    .exerciseComponentList{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
        position: relative;
        top: 20px;
            text-align: center;
            height: 50px;
            align-content: center;
            margin-bottom: 30px;
            button{
                @include button;  
            }
        }
    }

    .nextLink{
        @include button;
        align-content: center;
        text-align: center;
        border: 1px solid red;
    }
}