@use '../../mixins' as *;

.start{
    height: 100svh;
    display: grid;
    grid-template-rows: 10% 80% 10%;


    h1{
        @include header;
    }
    .body{
        display: grid;
    }
    .exerciseComponentList{
            align-content: center;
            height: 80%;
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                width: 90%;
                margin: 10px auto;
                a{
                    @include button;
                }
            }
        }

        a{
            @include skipNext;
            align-content: center;
            text-align: center;
            text-decoration: none;
        }
        
}
.pushActive{
    background-color: green !important;
}
.pullActive{
    background-color: green !important;
}
.coreActive{
    background-color: green !important;
}
.legsActive{
    background-color: green !important;
}
.cardioActive{
    background-color: green !important;
}

.startActive{
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    margin: 10px auto;
    background-color: green;
    color: white !important;
}