.root{
    border: 1px solid black;
    height: 100vh;
    overflow-x: scroll;
    padding: 10px;
}
@mixin primaryColor{
    color: #f90101;
}

@mixin button{
    background-color: #d62828;
    border-radius: 15px;
}

@mixin tabs{
    background-color: #d62828;
    border-radius: 15px;
}